*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 70vh;
    max-width: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(124, 74, 57, 0.3),rgba(4,9,30,0.7)),url(images/cook.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}
section{
    scroll-snap-align: start;
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 125px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e4d0cf;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    html, body{
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(96, 124, 78);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.Information{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
margin-top: 10%;
display: flex;
justify-content: space-between;
}

.Information-col{
flex-basis: 31%;
background: #fff3f3;
border-radius: 15px;
margin-bottom: 10%;
padding: 20px 15px;
box-sizing: border-box;
transition: 0.5s;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 65px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration:none;
    background: rgb(125, 155, 125);
    border-radius: 5px;
    color: #fff;
    padding: 13px 50px;
    font-size: 13px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.fa fa-youtube{
    color: #fff;
    font-size: 25px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.Information-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #c06660;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icons .fab{
    color: #c06660;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fas fa-at{
    color: #e08983;
}
.fab fa-facebook{
    color: #e08983;
}
.fab fa-tiktok{
    color: #e08983;
}
.fab fa-instagram{
    color: #e08983;
}
.fab fa-twitter{
    color: #e08983;
}
.fab fa-linkedin{
    color: #e08983;
}

.examr{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 85px;
}

.fet{
    margin: 70px 0;
}

.examr-col{
    margin-top: 20px;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.examr-col img{
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.examr h2{
    margin-bottom: 5%;
    font-size: 25px;
}

.html body{
    overflow: hidden;
}

.kcol-1{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.kcol-1 img{
    width: 100%;
    max-height: 90%;
    overflow: hidden;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.kcol-1 p{
font-size: 14px;
}

.rating .fas{
    color: rgb(131, 124, 85);
}

.kcol-1:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.kcol-2 .ex-img{
    padding: 50px;
    width: 100%;
    overflow: hidden;
}

small{
    color: #555;
    font-size: smaller;
}

.btn{
    text-decoration: none;
    display: inline-block;
    background: #c56f64;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    border: 1px solid rgb(34, 223, 112);
    background-color: rgb(34, 223, 112);
    transition: 1s;
}

.footer {
    background-color: #f5ecec;
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .kcol-1, .kcol-2{
        flex-basis: 10%;
    }

    .examr-col{
        flex-basis: auto;
    }
    body ,html{
        overflow-x: hidden;
    }
}

.viem{
    display: inline-block;
        position: relative;
        text-decoration: none;
    }
    
    .viem::after{
        content: '';
        width: 0;
        height: 2px;
        background: rgb(73, 93, 206);
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    
    .viem:hover::after{
        width: 100%;
    }